<!DOCTYPE html>
<html>

    <div id="wrapper">
        <label for="yes_or_no">Are you experiencing slurred speech or confusion?</label>
      <p>
      <input type="radio" name="yes_no" checked>Yes</input>
      </p>
      <p>
      <input type="radio" name="yes_no">No</input>
      </p>
      </div>

      <div id="wrapper">
        <label for="yes_or_no">Are you experiencing extreme shivering or muscle pain?</label>
      <p>
      <input type="radio" name="yes_no" checked>Yes</input>
      </p>
      <p>
      <input type="radio" name="yes_no">No</input>
      </p>
      </div>

      <div id="wrapper">
        <label for="yes_or_no">Are you passing no urine in a day?</label>
      <p>
      <input type="radio" name="yes_no" checked>Yes</input>
      </p>
      <p>
      <input type="radio" name="yes_no">No</input>
      </p>
      </div>
       
      <div id="wrapper">
        <label for="yes_or_no">Do you have severe breathlessness?</label>
      <p>
      <input type="radio" name="yes_no" checked>Yes</input>
      </p>
      <p>
      <input type="radio" name="yes_no">No</input>
      </p>
      </div>

      <div id="wrapper">
        <label for="yes_or_no">Does it feel like you're going to die?</label>
      <p>
      <input type="radio" name="yes_no" checked>Yes</input>
      </p>
      <p>
      <input type="radio" name="yes_no">No</input>
      </p>
      </div>

      
      <div id="wrapper">
        <label for="yes_or_no">Is your skin mottled or discoloured?</label>
      <p>
      <input type="radio" name="yes_no" checked>Yes</input>
      </p>
      <p>
      <input type="radio" name="yes_no">No</input>
      </p>
      </div>

</html>

