<!DOCTYPE html>
<html>

<!-- Header -->

<link rel="stylesheet" href="infoPageStyle.css">

<head>
    <section class="heading">
        <div class="topnav">
            <a class="active" href="https://sepsistrust.org/about/">The UK Sepsis Trust</a>
        </div><br>
    </section>


<!-- Main -->

<center>
    <h1> 
    Watches
    </h1>
    </center>
    </head>

<ul class="flex-container">

    <div class="flex-item"><img src="images/watch2..jpg" width="200" height="200" alt=''></div>
    <div class="flex-item"><img src="images/fossil.jpg" width="200" height="200" alt=''></div>
    <div class="flex-item"><img src="images/rolex.jpg" width="200" height="200" alt=''></div>
    <div class="flex-item"><img src="images/omega.jpg" width="200" height="200" alt=''></div>
    <div class="flex-item"><img src="images/cartier.jpg" width="200" height="200" alt=''></div>


    <div class="text-item">Citizen</div> </a>
    <div class="text-item">Fossil</div>
    <div class="text-item">Rolex</div>
    <div class="text-item">Omega</div>
    <div class="text-item">Cartier</div>
 
  </ul>



  <div class="flex-container2">
    <div><a href="category-page.html">Technology</a></div>
    <div><a href="category-page-clothes.html">Clothes</a></div>
    <div><a href="category-page-watch.html">Watches</a></div>
    <div><a href="category-page.html">Books</a></div>
    <div><a href="category-page.html">Cars</a></div>
    <div><a href="category-page.html">Kitchen</a></div>
    <div><a href="category-page.html">Home</a></div>
</div>


<!-- Footer -->
<footer>
    <div class = "container3">
        <div><a>FaQ</a></div>
        <div><a>Privacy Policy</a></div>
        <div><a>Terms & Conditions</a></div>
        <div><a>Contact Us</a></div>
    </div>
</footer>
</html>