<!DOCTYPE html>
<html>

<!-- Header -->

<link rel="stylesheet" href="infopage/infoPageStyle.css">

<head>
    <section class="heading">
        <div class="topnav">
            <a class="active" href="https://sepsistrust.org/">The UK Sepsis Trust</a>
        </div><br>
    </section>

<!-- Title -->
<center>
    <h1>
    </h1>
</center>
</head>

<!-- Container for the flexboxes -->

<a href="../UKST/genderselection/selectgender.html" class="back-button">Go Back</a>

<!-- Left flexbox with the picture -->
<section class = "container">
<div class = "left">
    <img src="images/F_youngadultthought.png" width="400" height="400" style="margin-top: 40px;" alt=''>
</div>

<!-- Right flexbox with description -->
<div class = "right">
    <h1> It feels like you're going to die</h1>
    <h3>
        Overwhelming sense of fear or panic. Feels like your life is in danger. 
    </h3> 
    
    <div id="wrapper">
        <label for="yes_or_no">Does it feel like you're going to die?</label>
      <p>
      <input type="radio" name="yes_no" checked>Yes</input>
      </p>
      <p>
      <input type="radio" name="yes_no">No</input>
      </p>
      </div>
   
</div>

</section>

<!-- Play button -->
<div>
    <button class = "button" onclick="window.location.href = '../genderselection/selectgender.html';">Continue</button>
    <!-- <button onclick="alert('Starting game')">Play</button> -->
</div>
<!-- <div style = "position:relative; left:900px; top:-75px; padding: 10px;">
    <button class="button" onclick="alert('Starting game')" >Play</button>
 </div> -->

<!-- Footer -->
<footer>
    <div class="container3">
        <div><a class="footerlink" href="https://sepsistrust.org/about/about-sepsis/faqs/" target="_blank">FaQ</a></div>
        <div><a class="footerlink" href="https://sepsistrust.org/privacy-policy/" target="_blank">Privacy Policy</a></div>
        <div><a class="footerlink" href="https://sepsistrust.org/terms-conditions/" target="_blank">Terms & Conditions</a></div>
        <div><a class="footerlink" href="https://sepsistrust.org/contact/" target="_blank">Contact Us</a></div>
    </div>
</footer>
</html>