.characterimg {
    width: 25px;
    height: auto;
    margin: 0 auto; /* Add this line to center the element horizontally */
    display: flex; /* Add this line to enable flexbox */
    justify-content: center; /* Add this line to center the element horizontally within the flex container */
}

.footer {
    position: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #6d6e71;
    text-align: right;
}

.footerlink {
    color: white;
    text-decoration: underline;
    padding: 5%;
    text-align: right;
}

.footertext {
    color: white;
    padding: 5%;
    text-align: left;
}