<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="selectgenderstyle.css">
    <title>Select Gender</title>
</head>

<header>
    <section class="heading">
        <div class="topnav">
            <a class="active" href="https://sepsistrust.org/">The UK Sepsis Trust</a>
        </div><br>
    </section>
 
<body>
    <h3>Choose your character to start on your self-assessment journey!</h3>
    
</body>

<div class="img-container">
    <div class="image">
      <img src="../images/F_youngadultbreathing.png" alt="Female">
      <a href="">
        <button>Female</button>
      </a>
    </div>
    <div class="image">
      <img src="../images/M_youngadultbreathe.png" alt="Image 2">
      <a href="">
        <button>Male</button>
      </a>
    </div>
  </div>


</html>

<footer>
    <div class="footer">
        <div><a class="footerlink" href="https://sepsistrust.org/about/about-sepsis/faqs/" target="_blank">FaQ</a></div>
        <div><a class="footerlink" href="https://sepsistrust.org/privacy-policy/" target="_blank">Privacy Policy</a></div>
        <div><a class="footerlink" href="https://sepsistrust.org/terms-conditions/" target="_blank">Terms & Conditions</a></div>
        <div><a class="footerlink" href="https://sepsistrust.org/contact/" target="_blank">Contact Us</a></div>

        <div class="footertext">
        </div>
    </div>